<!doctype html>
<html>
<head>
  <meta name="viewport" content="width=device-width">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <title></title>
  
  <style type="text/css">
    body,
    p {
      font-family: 'Trebuchet MS', Tahoma, Arial, sans-serif;
      font-size: 100%;
      line-height: 20px;
      margin: 0;
      padding: 0;
      color: #444;
    }

    body {
      -webkit-font-smoothing: antialiased;
      height: 100%;
      -webkit-text-size-adjust: none;
      width: 100% !important;
    }

    table.body-wrap {
      padding: 20px;
      width: 100%;
    }
    table.body-wrap .container {
      border: 1px solid #f0f0f0;
    }

    h1, 
    h2, 
    h3 {
      font-family: Tahoma, sans-serif;
      font-weight: 200;
      line-height: 25px;
      margin: 20px 0 15px;
    }
    h1 {
      font-size: 36px;
    }
    h2 {
      font-size: 28px;
    }
    h3 {
      font-size: 22px;
    }

    p, 
    ul, 
    ol {
      font-size: 14px;
      font-weight: normal;
      margin-bottom: 10px;
    }
    ul li, 
    ol li {
      margin-left: 5px;
      list-style-position: inside;
    }

    .container {
      clear: both !important;
      display: block !important;
      margin: 0 auto !important;
      max-width: 400px !important;
    }
    .body-wrap .container {
      padding: 20px;
    }
    .content {
      display: block;
      margin: 0 auto;
      max-width: 600px;
    }
    .content table {
      width: 100%;
    }

    img.christmas-tree {
      margin: 0 auto;
      display: block;
    }
  </style>
</head>

<body bgcolor="#f6f6f6">

<!-- body -->
<table class="body-wrap" bgcolor="#f6f6f6">
  <tr>
    <td></td>
    <td class="container" bgcolor="#FFFFFF">

      <div class="content">
      <table>
        <tr>
          <td>
            <img width="100%" height="230px" alt="epam-secret-santa" src="{{image_epam_secret_santa_header}}" />

            <h3><b>Вітаємо! Ти прийняв участь у грі Secret Santa!</b></h3>

            <p>Твоїм таємним підопічним став/стала - <b style="font-size:16px;color:#20C3D4">{{receiver}}</b>.</p>

            <br/>

            <table>
            <tr>
              <td>
                <p>Твої дії:
                <ul>
                <li>Дізнайся про людину більше</li>
                <li>Підготуй приємний подарунок (на суму до 200 грн)</li>
                <li>Принеси його 30 грудня на роботу</li>
                </ul>
                <p>

                <br/>

                <p><b>Пошта Таємного Санти сповістить тобі подальші кроки.</b></p>

                <p><b style="color:#20C3D4">До зустрічі 30 грудня! :)</b></p>
              </td>
              <td>
                <img class="christmas-tree" width="150px" height="175px" alt="christmas tree" src="{{image_christmas_tree}}" />
              </td>
            </tr>
            </table>


          </td>
        </tr>
      </table>
      </div>
      
    </td>
    <td></td>
  </tr>
</table>
<!-- /body -->

</body>
</html>