{% extends "layout.html.twig" %}

{% set pageName = 'landing' %}

{% block content %}
  {% spaceless %}
  <div class="box">
    <div class="box-wrap">
      <div class="box-content">
        <div id="secret-santa-title"></div>

        <div id="form-initial" class="form-initial">
          <div class="wrap">
            <i class="icon epam-logo-small"></i>

            <div id="introduction-text">
              Період Нового року - це час, коли відбуваються неочікувані і магічні речі. Коли щиро радієш не так отриманим подарункам, як можливості подарувати комусь трішки новорічного настрою та дива.

              <br/>
              <br/>
              Стань персональним <span class="highlight">Secret Santa</span> для когось зі своїх колег з ЕПАМу та подаруй <span class="highlight">30 грудня</span> святковий настрій собі та оточуючим.
            </div>

            <form onsubmit="return proceed()">
              <input type="text" name="email" placeholder="Введіть ваш мейл" />
              <button type="submit" class="submit">Join!</button>
            </form>

            <div class="clearfix"></div>

            <label>
              <input type="checkbox" name="agreement">
              <span>своєю реєстрацію ти підтверджуєш участь у проекті і стаєш Secret Santa для людини, ім’я якої визначається програмою у вільному порядку.</span>
            </label>
          </div>
        </div>
        <!-- /form -->

        <div id="form-initial-after" class="form-initial hidden">
          <div class="wrap">
            <i class="icon epam-logo-small"></i>
            
            <div id="introduction-text">
              Дякуємо за участь!
              <br/>
              <br/>
              <span class="highlight">25 грудня о 16:05</span> буде повідомлено ім’я щасливця,<br/>для якого ти станеш Secret Santa.
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
  {% endspaceless %}
{% endblock %}