{% extends "layout.html.twig" %}

{% set pageName = 'landing' %}

{% block content %}
  <div class="box">
    <div class="box-wrap">
      <div class="box-content">
        <div id="secret-santa-title"></div>

        <div id="form-initial">
          <div class="wrap">
            <i class="icon epam-logo-small"></i>

            <div id="introduction-text">
              Новий рік - це час, коли відбуваються всякі чудові, неочікувані і магічні речі.
              <br/>
              <br/>
              Клуб АДМ - це клуб Анонімних Дідів Морозів, (або Друзів Миколая), який допоможе в чарівний час Нового Року зробити класний, оригінальний і неочікуваий сюрприз зовсім незнайомій людині.

            </div>

            <form>
              <input type="text" name="email" placeholder="Enter your email" />
              <div class="submit">Join!</div>
            </form>
          </div>
        </div>
        <!-- /form -->

      </div>
    </div>
  </div>
{% endblock %}