{% extends "layout.html.twig" %}

{% set pageName = 'landing' %}

{% block content %}
  <div id="form-initial">
    <div class="wrap">
      11
      <i class="icon epam-logo-small"></i>
    </div>
  </div>
{% endblock %}