{% extends "layout.html.twig" %}

{% set pageName = 'landing' %}

{% block content %}
  {% spaceless %}
  <div class="box">
    <div class="box-wrap">
      <div class="box-content">
        <i class="icon secret-santa-title"></i>

        {% if isOpenRegistration %}
        <div id="form-initial" class="white-box">
          <i class="icon epam-logo-small"></i>

          <div class="section">
            <span>Період Нового року - це час, коли відбуваються неочікувані і магічні речі. Коли щиро радієш не так отриманим подарункам, як можливості подарувати комусь трішки новорічного настрою та дива.</span>

            <br/>
            <br/>
            
            <span>Стань персональним <span class="highlight">Secret Santa</span> для когось зі своїх колег з ЕПАМу та подаруй <span class="highlight">30 грудня</span> святковий настрій собі та оточуючим.</span>
          </div>

          <div class="section form-errors" id="form-initial-errors"></div>

          <form class="section form" onsubmit="return proceedRegistration()">
            <div class="form-field inputs">
              <input type="text" name="email" placeholder="Введіть ваш мейл" />
              <button type="submit" name="join">Join!</button>
            </div>

            <div class="form-field agreement">
              <label>
                <input type="checkbox" name="agreement">
                <span>Своєю реєстрацію ти підтверджуєш участь у проекті і стаєш Secret Santa для людини, ім’я якої визначається програмою у вільному порядку.</span>
              </label>
            </div>
          </form>
        </div>

        <div id="form-initial-after" class="white-box hidden">
          <i class="icon epam-logo-small"></i>
          
          <div id="section">
            <span>Дякуємо за участь!</span>
            <br/>
            <br/>
            <span>
            <span class="highlight">25 грудня о 16:05</span> тобі буде повідомлено ім’я щасливця,<br/>для якого ти станеш Secret Santa.
            </span>
          </div>
        </div>

        {% else %}

        <div id="form-initial-close" class="white-box">
          <i class="icon epam-logo-small"></i>
          
          <div id="section">
            <br/>
            <span class="highlight">Дякуємо за участь!</span>
            <br/>
            <br/>
            <span>
            Реєстрацію тимчасово (на 1 рік) призупинено.
            <br/>
            <br/>
            Всі, хто взяв участь - провірте свої поштові скриньки,<br/>там на вас чекає лист :)
            </span>
          </div>
        </div>

        {% endif %}
      </div>
    </div>
  </div>
  {% endspaceless %}
{% endblock %}