* {
    box-sizing: border-box
}

html, body, div {
    margin: 0;
    padding: 0;
    border: 0;
}

i.icon {
    display: inline-block;
    background-repeat: no-repeat;
}
i.icon.epam-logo-small {
    background-image: url(/img/epam-logo-small.png);
    width: 118px;
    height: 42px;
}
i.icon.christmas-tree {
    background-image: url(/img/christmas-tree.png);
    background-size: 450px;
    width: 450px;
    height: 502px;
    opacity: 0.8;
}

i.icon.christmas-tree {
    position: absolute;
    left: 10px;
    bottom: 0px;
}
@media screen and (min-width: 1200px) {
    i.icon.christmas-tree {
        background-size: 550px;
        width: 550px;
        height: 615px;
    }
}
@media screen and (max-width: 700px) {
    i.icon.christmas-tree {
        top: -49px;
        left: -129px;
    }
}
@media screen and (max-width: 500px) {
    i.icon.christmas-tree {
        background-size: 110px;
        width: 110px;
        height: 125px;

        left: initial;
        right: 10px;
        top: 5px;
        bottom: initial;
    }
}

body {
    background: #9C0000 url(/img/bg-santa.png);
    background-repeat: no-repeat;
    background-position: right top;
}
@media screen and (min-width: 1350px) {
    body {
        background-size: 100%;
    }
}

#epam-logo-bg {
    background: url(/img/epam-bg.png);
    background-repeat: no-repeat;
    background-size: 500px;

    position: absolute;
    top: 30px;
    left: 30px;

    width: 500px;
    height: 180px;

    opacity: 0.15;
}
@media screen and (min-width: 1300px) {
    #epam-logo-bg {
        background-size: 700px;
        width: 710px;
        height: 210px;
        top: 60px;
        left: 110px;
    }
}
@media screen and (max-width: 600px) {
    #epam-logo-bg {
        width: 300px;
        background-size: 300px;
        height: 100px;
        right: 10px;
        left: inherit;
    }
}

.clearfix {
    zoom: 1;
}
.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}
.clearfix:after {
    clear: both;
}

.box {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: table;
}
.box-wrap {
    display: table-cell;
    vertical-align: top;
    text-align: center;
}
.box-content {
    margin: 0 auto;
}

#secret-santa-title {
    background: url(/img/secret-santa-title.png);
    background-repeat: no-repeat;

    background-size: 650px;
    width: 650px;
    height: 160px;

    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 20px;
}
@media screen and (min-width: 1300px) {
    #secret-santa-title {
        margin-top: 110px;
    }
}
@media screen and (max-width: 700px) {
    #secret-santa-title {
        background-size: 450px;
        width: 450px;
        height: 110px;
    }
}
@media screen and (max-width: 500px) {
    #secret-santa-title {
        background-size: 350px;
        width: 350px;
        height: 80px;
    }
}

#form-initial {
    background: red;

    width: 600px;
    height: 380px;
    padding: 20px;

    background: #FFF;
    box-shadow: #FFF 0px 0px 4px 5px;
    border-radius: 5px;

    text-align: center;
    padding-top: 30px;

    margin: 0 auto;
}
@media screen and (max-width: 600px) {
    #form-initial {
        width: 450px;
    }
}
@media screen and (max-width: 480px) {
    #form-initial {
        width: 350px;
    }
}

#form-initial .wrap {
    background: white;
    font: 15px 'Exo 2';
    line-height: 21px;
}
@media screen and (min-width: 1300px) {
    #form-initial .wrap {
        font-size: 16px;
    }
}

#form-initial #introduction-text {
    margin-top: 25px;
}
@media screen and (max-width: 480px) {
    #form-initial #introduction-text {
        margin-top: 15px;
    }
}
#form-initial #introduction-text .highlight {
    color: #20C3D4;
}

#form-initial form {
    margin-top: 25px;
    clear: both;
    margin-left: 30px;
}

#form-initial form input[name="email"],
#form-initial form div.submit {
    float: left;
    height: 45px;
}

#form-initial form input[type="text"] {
    padding: 5px;
    padding-left: 10px;
    font: 15px 'Open Sans';
    width: 390px;
    border-radius: 6px 0 0 6px;
    border-color: #E8E8E8;
    border-width: 1px;
}

#form-initial form div.submit {
    cursor: pointer;
    background: #eb4e36;
    width: 100px;
    padding-top: 12px;
    color: #FFF;
    font: 17px 'Open Sans';
    border-radius: 0 6px 6px 0;
}

#form-initial label {
    display: block;
    margin-top: 8px;
    margin-left: 30px;
    text-align: left;
}
#form-initial label input[type="checkbox"],
#form-initial label span {
    display: inline-block;
    vertical-align: top;
}
#form-initial label input[type="checkbox"] {
    margin-top: 6px;
    margin-right: 5px;
}
#form-initial label span {
    width: 90%;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}