{% extends "layout.html.twig" %}

{% set pageName = 'landing' %}

{% block content %}
  {% spaceless %}
  <div class="box">
    <div class="box-wrap">
      <div class="box-content">
        <div id="secret-santa-title"></div>

        <div id="form-initial" class="form-initial">
          <div class="wrap">
            <div id="introduction-text">
              {{code}}
              <br/>
              <br/>
              {{message}}
            </div>
          </div>
        </div>
        <!-- /form -->

      </div>
    </div>
  </div>
  {% endspaceless %}
{% endblock %}