{% extends "layout.html.twig" %}

{% set pageName = 'landing' %}

{% block content %}
  {% spaceless %}
  <div class="box">
    <div class="box-wrap">
      <div class="box-content">

        <i class="icon secret-santa-title"></i>

        <div id="form-initial" class="white-box">
          <div class="section">
            <h2>{{code}}</h2>
            <br/>
            <br/>
            <span>{{message}}</span>
          </div>
        </div>

      </div>
    </div>
  </div>
  {% endspaceless %}
{% endblock %}